.menu{
    
    span{
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        text-decoration: none;
        color: black;
        padding:5px;
        
    }
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.form-control{
    width: 250px;
}
    .btnCarrito{
        padding: 10px;
        border-radius: 100%;
}
    span{
        padding-left: 15px;
        font-size: 2rem;
        color: black;
    }
    #carrito{
        width: 50px;
    }
    
    .btn-primary{
        background-color: rgb(162, 162, 238) !important;
        border-color: black !important;
    }

    .agregarCarrito{
        border-radius: 100%;
        background-color: #fff;
        img{
            width: 25px;
            margin: 3px;
        }
    }
    .boton-eliminar{
        border-radius: 100%;
        img{
            width: 25px;
            margin:3px;
        }
    }
    .filtro{
        select{
            width: 150px;
            border-radius: 15px;
            padding: 3px;
        }
    }

    .muestraCarrito{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        p{
            padding: 10px;
        }
            
        }
            
        header{
            background-image: url(../../multimedia/image/background2.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        main{
            padding-top: 25px;
        }
        
        body{
            background-image: url(../../multimedia/image/background.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }